{
	"database": {
		"login_mysql": {
			"host": "localhost",
			"port": 3306,
			"database": "",
			"user": "",
			"password": ""
		},
		"mysql": {
			"host": "localhost",
			"port": 3306,
			"database": "",
			"user": "",
			"password": ""
		}
	}
}